.gradient-background {
  background: linear-gradient(300deg, #f9fbe7, #f0edd4, #eccdb4, #fea1a1);
  background-image: linear-gradient(to right);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  padding-top: 30px;
  padding-bottom: 30px;
}
h3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#hero,
#fun,
#contact,
#skills {
  height: 100vh;
}

.fun-content-item {
  display: flex;
  align-items: center;
}

.hr-icon {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 30px 0;
}

.visit-btn {
  margin-top: 20px;
}

.projects-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-description {
  padding-left: 30px;
  max-width: 300px;
}

.project-gif {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.skill-box {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #ffb6b9, #fae3d9, #bbded6, #61c0bf);
}

.skill-box-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skill-box h3 {
  text-align: center;
}

.language-box {
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
}
.html5 {
  background-color: #cc6666;
}

.js {
  background-color: #ccb266;
}

.css3 {
  background-color: #6699aa;
}

.nodejs {
  background-color: #89cc89;
}

.zsh {
  background-color: #bfbfbf;
}

.express {
  background-color: #99c2c2;
}

.mongodb {
  background-color: #8971d0;
}

.vscode {
  background-color: #77bffa;
}

.git {
  background-color: #e57373;
}

.github {
  background-color: #8c8c8c;
}

.jquery {
  background-color: #385170;
}

.c {
  background-color: #9fd3c7;
}

.racket {
  background-color: #fdc57b;
}